@font-face {
    font-family: "Roboto";
    font-weight: 400;
    src: url(../fonts/RobotoMono-SemiBold.ttf);

}

@font-face {
    font-family: "RobotoLight";
    font-weight: 300;
    src: url(../fonts/RobotoMono-Light.ttf);
}

@font-face {
    font-family: "RobotoRegular";
    font-weight: 300;
    src: url(../fonts/RobotoMono-Regular.ttf);
}

.menu {
    margin-left: 8%;
    margin-right: 10%;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(3, 1fr);
    justify-items: center;
    align-items: center;
    font-family: "RobotoLight", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    color: #333333;
}

#menu__toggle {
    opacity: 0;
}

.header__logo {
    grid-column: 1/2;
    grid-row: 2;
}

.header__main{
    grid-column: 4/5;
    grid-row: 2;
}

.header__gallery {
    grid-column: 5/6;
    grid-row: 2;
}

.header__projects {
    grid-column: 6/7;
    grid-row: 2;
}

.header__certifications {
    grid-column: 7/8;
    grid-row: 2;
}

.header__contacts {
    grid-column: 8/9;
    grid-row: 2;
}

.header__link {
    text-decoration: none;
    color:  #333333;
}

.header__link:hover {
    text-decoration: underline overline;
} 

.header__link :visited {
color:  #333333;
}

.contact-info {
    display: grid;
    grid-template-columns: 1fr 2fr;
}
.caption {
    display: flex;
    flex-direction: column;
    padding-top: 2%; 
    padding-bottom: 20%;
    padding-left: 5%;
    align-content: space-around;
}

.caption__title {
    font-family: "RobotoLight", sans-serif;
    font-weight: 300;
    font-size: 64px;
    color: #BDBDBD;
}

.caption__titleTwo {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 64px;
    line-height: 100%;
    color: #333;
}

.contact-info__caption_bold {
    font-family: "Roboto", sans-seri;
    font-weight: 700;
    font-size: 18px;
    color: #333;
}

.contact-info__caption_thin {
    font-family: "RobotoLight", sans-serif;
    font-weight: 300;
    font-size: 16px;
    line-height: 141%;
}

.contact-info__caption-btn {
    width: 222px;
    height: 71px;
    background: #333;
    font-family: "RobotoLight", sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 100%;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    color: #fff;
}

/* footer start */
.footer {
    background-color: #2C2C2C;
    padding: 2%;
}

.footer-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr) 2fr;
    justify-items: center;
    color: white;
    font-family: var;
    font-weight: 500;
    font-size: 14px;
    line-height: 171%;
    letter-spacing: 0.03em;
}

.footer-info__title, .footer-contacts__title, .footer-social__title {
    font-weight: 700;
    font-size: 16px;
}

.footer__column {
    list-style-type: none;
}

.footer__author {
    display: flex;
    justify-content: center ;
    color:rgb(200, 200, 200, 0.5);
}
/* footer end */

/*Адаптивность*/
@media screen  and (max-width: 426px){

#menu__toggle {
    opacity: 0;
}

#menu__toggle:checked ~ .menu__btn > span {
    transform: rotate(45deg);
}

#menu__toggle:checked ~ .menu__btn > span::before {
    top: 0;
    transform: rotate(0);
}

#menu__toggle:checked ~ .menu__btn > span::after {
    top: 0;
    transform: rotate(90deg);
}

#menu__toggle:checked ~ .menu{
    visibility: visible;
    left: 0;
}

.menu__btn {
    background-color:#2C2C2C;
    display: flex;
    align-items: center;
    position: fixed;
    top: 20px;
    left: 20px;
    width: 26px;
    height: 26px;
    cursor: pointer;
    z-index: 1;
}

.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: white;
    transition-duration: .25s;
}

.menu__btn > span::before {
    content: '';
    top: -8px;
}

.menu__btn > span::after {
    content: '';
    top: 8px;
}

.menu {
    display: block;
    position: fixed;
    visibility: hidden;
    top: 0;
    left: -100%;
    width: 300px;
    height: 100%;
    margin: 0;
    padding: 80px 0;
    list-style: none;
    background-color:white;
    box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);
    transition-duration: .25s;
}

.menu-item {
display: block;
padding: 12px 24px;
text-decoration: none;
transition-duration: .25s;
}

.menu-item:hover {
    background-color: #CFD8DC;
}

.caption__title, .caption__titleTwo {
    font-size: 1.5em;
}

.caption {
    box-sizing: border-box;
    width: 100%;
    padding-left: 20%;
}

.footer-info {
    display: none;
}

.footer__logo {
    display: none;
}

.footer-container {
    display: grid;
    grid-template-columns: 1fr;
    font-size: 0.5em;
    text-align:justify;
}
.footer {
    box-sizing: border-box;
    width: 100%;
}
}