
.header {
    margin-left: 8%;
    margin-right: 10%;
    display: grid;
    grid-template-columns: repeat (8, 1fr);
    grid-template-rows: repeat (3, 1fr);
    justify-items: center;
    align-items: center;
    font-family: "RobotoLight", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    color: #333333;
}
.header__logo {
    grid-column: 1/2;
    grid-row: 2;
}
.header__main{
    grid-column: 4/5;
    grid-row: 2;
    text-decoration: underline;
}
.header__gallery {
    grid-column: 5/6;
    grid-row: 2;
}
.header__projects {
    grid-column: 6/7;
    grid-row: 2;
}
.header__certifications {
    grid-column: 7/8;
    grid-row: 2;
}
.header__contacts {
    grid-column: 8/9;
    grid-row: 2;
}

/* Gallery start */
.gallery {
    margin: 8%;
}

.gallery__h1 {

width: 277.76px;
height: 64px;

font-family: 'Roboto';
font-style: normal;
font-weight: 300;
font-size: 64px;
line-height: 64px;
color: #BDBDBD;

flex: none;
order: 0;
flex-grow: 0;

} 
.gallery__h2 {
    
width: 203px;
height: 64px;

font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 64px;
line-height: 64px;
color: #333333;
flex: none;
order: 1;
flex-grow: 0;

}
.gallery__img {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 1fr;
    margin-top: 2%;
    margin-bottom: 2%;
    margin-left: 1%;
    margin-right: 1%;
}
.gallery__img_grey {
    grid-row: 1;
    grid-column: 1/2;
}

.gallery__img_lighthouse {
    grid-row: 1;
    grid-column: 2/3;
}

.gallery__img_greenhouse {
    grid-row: 1;
    grid-column: 3/4;
}

.gallery__img_lighthouse_part {
    grid-row: 1;
    grid-column: 4/5;
}

.gallery__img_castle {
    grid-row: 1;
    grid-column: 5/6;
}

.gallery__img_picture {
    grid-row: 1;
    grid-column: 1/2;
}

.gallery__img_street {
    grid-row: 1;
    grid-column: 2/3;
}

.gallery__img_arches {
    grid-row: 1;
    grid-column: 3/4;
}

.gallery__img_water {
    grid-row: 1;
    grid-column: 4/5;
}

.gallery__img_building {
    grid-row: 1;
    grid-column: 5/6;
}
.gallery__numbers {
display: flex;

width: 30.67px;
height: 24px;
left: 244.24px;
top: 979px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 24px;
color: #BDBDBD;

}

/* Gallery end */


/* footer start */
.footer {
    background-color: #2C2C2C;
    padding: 2%;
}

.footer-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr) 2fr;
    justify-items: center;
    color: white;
    font-family: var;
    font-weight: 500;
    font-size: 14px;
    line-height: 171%;
    letter-spacing: 0.03em;
}

.footer-info__title, .footer-contacts__title, .footer-social__title {
    font-weight: 700;
    font-size: 16px;
}

.footer__column {
    list-style-type: none;
}

.footer__author {
    display: flex;
    justify-content: center ;
    color:rgb(200, 200, 200, 0.5);
}
/* footer end */