@font-face {
    font-family: "Roboto";
    font-weight: 400;
    src: url(../fonts/RobotoMono-Regular.ttf);
    
    src: url(../fonts/RobotoMono-SemiBold.ttf);

}

@font-face {
    font-family: "RobotoLight";
    font-weight: 300;
    src: url(../fonts/RobotoMono-Light.ttf);
}




.header{
    display: grid;
    grid-template-columns: repeat (19, 1fr);
    grid-template-rows: repeat (3, 1fr);
    justify-items: center;
    align-items: center;
    font-family: "RobotoLight", sans-serif;
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 12px;
letter-spacing: 0.2em;
text-transform: uppercase;
color: #333333;
}
.header__logo {
    grid-column: 2/3;
    grid-row: 2;
}
.header__main{
    grid-column: 7/8;
    grid-row: 2;
    text-decoration: underline;
}
.header__gallery {
    grid-column: 8/9;
    grid-row: 2;
}
.header__projects {
    grid-column: 9/10;
    grid-row: 2;
}
.header__certifications {
    grid-column: 10/11;
    grid-row: 2;
}
.header__contacts {
    grid-column: 11/12;
    grid-row: 2;
}
.header__zero {
    grid-column: 14/15;
}

/* section project lorum start */

.block__title {
    font-family: "RobotoLight", sans-serif;
    font-weight: 300;
    font-size: 64px;
    text-transform: uppercase;
    color: #BDBDBD;
}

.block__titleTwo {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 64px;
    
}

.block__img {
    width: 770px;
    height: 829px;
}

.block__button {
    width: 221px;
    height: 71px;
    border: none;
    background-color: white;
    font-family: "RobotoLight";
    font-weight: 300;
    font-size: 12px;
    text-transform: uppercase;
}
/* section project lorum end */