@font-face {
    font-family: "Roboto";
    font-weight: 400;
    src: url(../fonts/RobotoMono-SemiBold.ttf);

}

@font-face {
    font-family: "RobotoLight";
    font-weight: 300;
    src: url(../fonts/RobotoMono-Light.ttf);
}

@font-face {
    font-family: "RobotoRegular";
    font-weight: 300;
    src: url(../fonts/RobotoMono-Regular.ttf);
}



.header {
    margin-left: 8%;
    margin-right: 10%;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(3, 1fr);
    justify-items: center;
    align-items: center;
    font-family: "RobotoLight", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    color: #333333;
}
.header__logo {
    grid-column: 1/2;
    grid-row: 2;
}
.header__main{
    grid-column: 4/5;
    grid-row: 2;
}
.header__gallery {
    grid-column: 5/6;
    grid-row: 2;
}
.header__projects {
    grid-column: 6/7;
    grid-row: 2;
}
.header__certifications {
    grid-column: 7/8;
    grid-row: 2;
}
.header__contacts {
    grid-column: 8/9;
    grid-row: 2;
}
.header__link {
    text-decoration: none;
    color:  #333333;
}
.header__link :visited {
color:  #333333;
}

.header__link:hover {
    text-decoration: underline overline;
}


/* section project lorum start */

.caption__title {
    font-family: "RobotoLight", sans-serif;
    font-weight: 300;
    font-size: 64px;
    text-transform: uppercase;
    color: #BDBDBD;
}

.caption__titleTwo {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 64px;
    /* padding-bottom: 15px; */
    
    
    
}

.image__pic {
    width: 80%;
    height: auto;
    padding-top: 30px;
    padding-left: 50px;

}

.image__button {
    
    width: 221px;
    height: 71px;
    border: none;
    background-color: white;
    font-family: "Roboto";
    font-weight: 300;
    font-size: 12px;
    text-transform: uppercase;
    position: absolute;
    top: 41.3rem;
    left: 10rem;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: white;
}

/* кнопка на картинке */
.image {
    position: relative;
    width: 770px;

}


.image__button-img {
    margin-bottom: -8px;
}

.caption {
    display: flex;
    flex-direction: column;
    padding-top: 300px;
    
    
}

.section {
    display: flex;
    justify-content: space-around;

}
/* section project lorum end */


/* section about start */


.section-about {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FBFBFB;
    max-width: 70%;
    
    
}



.section-about__photo-img {
    margin: 30px;
}

/* .section-about__articles{
    justify-content: space-between;

} */

.section-about__articles-title {
    font-family: "RobotoLight", sans-serif;
    font-size: 64px;
    font-weight: 300;
    color: #BDBDBD;
    text-align: center;
}

.section-about__articles-text {
    font-family: "RobotoRegular", sans-serif;
    font-weight: 300;
    font-size: 16px;
}

.section-about__articles-button {
    width: 221px;
    height: 71px;
    border: none;
    background-color: white;
    font-family: "Roboto";
    font-weight: 300;
    font-size: 12px;
    text-transform: uppercase;
}
/* section about end */


/* footer start */
.footer {
    background-color: #2C2C2C;
    padding: 2%;
}

.footer-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr) 2fr;
    justify-items: center;
    color: white;
    font-family: var;
    font-weight: 500;
    font-size: 14px;
    line-height: 171%;
    letter-spacing: 0.03em;
}

.footer-info__title, .footer-contacts__title, .footer-social__title {
    font-weight: 700;
    font-size: 16px;
}

.footer__column {
    list-style-type: none;
}

.footer__author {
    display: flex;
    justify-content: center ;
    color:rgb(200, 200, 200, 0.5);
}
/* footer end */