
.header{
    display: grid;
    grid-template-columns: repeat (19, 1fr);
    grid-template-rows: repeat (3, 1fr);
    justify-items: center;
    align-items: center;
    font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 12px;
letter-spacing: 0.2em;
text-transform: uppercase;
color: #333333;
}
.header__logo {
    grid-column: 2/3;
    grid-row: 2;
}
.header__main{
    grid-column: 7/8;
    grid-row: 2;
    text-decoration: underline;
}
.header__gallery {
    grid-column: 8/9;
    grid-row: 2;
}
.header__projects {
    grid-column: 9/10;
    grid-row: 2;
}
.header__certifications {
    grid-column: 10/11;
    grid-row: 2;
}
.header__contacts {
    grid-column: 11/12;
    grid-row: 2;
}
.header__zero {
    grid-column: 14/15;
}