@font-face {
    font-family: "Roboto";
    font-weight: 400;
    src: url(../fonts/RobotoMono-Regular.ttf);
    
    src: url(../fonts/RobotoMono-SemiBold.ttf);

}

@font-face {
    font-family: "RobotoLight";
    font-weight: 300;
    src: url(../fonts/RobotoMono-Light.ttf);
}




.header {
    display: grid;
    grid-template-columns: repeat (19, 1fr);
    grid-template-rows: repeat (3, 1fr);
    justify-items: center;
    align-items: center;
    font-family: "RobotoLight", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    color: #333333;
}
.header__logo {
    grid-column: 2/3;
    grid-row: 2;
}
.header__main{
    grid-column: 7/8;
    grid-row: 2;
    text-decoration: underline;
}
.header__gallery {
    grid-column: 8/9;
    grid-row: 2;
}
.header__projects {
    grid-column: 9/10;
    grid-row: 2;
}
.header__certifications {
    grid-column: 10/11;
    grid-row: 2;
}
.header__contacts {
    grid-column: 11/12;
    grid-row: 2;
}
.header__zero {
    grid-column: 14/15;
}

/* section project lorum start */

.caption__title {
    font-family: "RobotoLight", sans-serif;
    font-weight: 300;
    font-size: 64px;
    text-transform: uppercase;
    color: #BDBDBD;
}

.caption__titleTwo {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 64px;
    padding-bottom: 15px;
    
    
    
}

.image__pic {
    width: 80%;
    height: auto;
    padding-top: 30px;
    padding-left: 50px;

}

.image__button {
    
    width: 221px;
    height: 71px;
    border: none;
    background-color: white;
    font-family: "Roboto";
    font-weight: 300;
    font-size: 12px;
    text-transform: uppercase;
    
}

.image__button-img {
    
}

.caption {
    display: flex;
    flex-direction: column;
    padding-top: 338px;
    padding-left: 100px;
    
}

.section {
    display: flex;
    justify-content: flex-end;

}
/* section project lorum end */

/* footer start */
.footer {
    background-color: #2C2C2C;
    padding: 2%;
}

.footer-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr) 2fr;
    justify-items: center;
    color: white;
    font-family: var;
    font-weight: 500;
    font-size: 14px;
    line-height: 171%;
    letter-spacing: 0.03em;
}

.footer-info__title, .footer-contacts__title, .footer-social__title {
    font-weight: 700;
    font-size: 16px;
}

.footer__column {
    list-style-type: none;
}

.footer__author {
    display: flex;
    justify-content: center ;
    color:rgb(200, 200, 200, 0.5);
}
/* footer end */